---
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  title: string;
  description: string;
  url: string;
}

const { image, title, description, url } = Astro.props;
---

<a href={url} target="_blank" class="flex justify-between gap-6 rounded-lg">
  <div class="">
    <h3 class="font-semibold text-sm text-gray-800">{title}</h3>
    <p class="mt-1 text-sm text-gray-400">
      {description}
    </p>
  </div>
  <Image src={image} alt={`Logo for ${title}`} height={32} />
</a>
