---
interface Props {
  pubDate: Date;
  title: string;
  description: string;
  url: string;
  tags: string[];
}

const { pubDate, title, description, url, tags } = Astro.props;
const date = pubDate.toLocaleDateString(
  'en-gb',
  {
    year: "numeric",
    month: "long",
    day: "numeric",
  }
);

---

<li class="flex flex-col gap-2">
  <a href={url}>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-stone-300">{date}</time>
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">{title}</h3>
    <p class="text-base font-normal text-gray-500 dark:text-stone-300">{description}</p>
  </a>
  <div class="flex flex-row flex-wrap gap-2">
    {tags.map((tag) => <a href={`/tags/${tag}`}><span class="inline-flex rounded-[64px] border text-center font-semibold transition-all duration-300 ease-in-out h-5 px-2 py-0.5 pb-5 text-xs border-slate-300 bg-white text-black dark:bg-zinc-800 dark:border-zinc-600 dark:text-stone-300">{tag}</span></a>)}
  </div>
</li>
