---
import PostPreview from '../components/PostPreview.astro';

interface Props {
  title?: string;
}

const { title } = Astro.props;

const allPosts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true }));
---

<div class="flex flex-col gap-8">
  {
    title && <h1 class="text-xl bold">{title}</h1>
  }
  <ul class="flex flex-col gap-10">
    {allPosts.map((post: any) =>
      <PostPreview pubDate={post.frontmatter.pubDate} title={post.frontmatter.title} description={post.frontmatter.description} url={post.url} />
    )}
  </ul>
  <a href="/">View more posts-></a>
</div>
